<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express HTML</title>
</head>
<body>
    <h1>Express HTML</h1>
    <h2>Subtitulo</h2>
    <h3>Subtitulo menor</h3>
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/contact">CONTACT</a>
        </li>
        <li>
            <a href="/about">ABOUT</a>
        </li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus excepturi consequatur et laudantium distinctio tenetur amet ea odio! Illum, id est. Nemo eum aliquid esse! Maxime molestiae repellendus voluptatibus?L</p>
    <img src="/images/cnne-1313782-argentina-v-croatia-semi-final-fifa-world-cup-qatar-2022.jpeg" alt="una imagen">
</body>
</html>